@font-face {
    font-family: text;
    src: url(./text.ttp.woff2);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page{
    background-image: url(./bg.png.webp);
    height: 100%;
    width: 100%;
    background-size: cover;
}
 #page h1{
    font-family: text;
    position: absolute;
top: 50%;
left: 50%;
    text-transform: uppercase;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
    color: aliceblue;
    font-size: 60px;
}